# ===== FastAPI =====
APP_NAME=demo-fastapi-celery
API_HOST=0.0.0.0
API_PORT=8000

# ===== Redis =====
REDIS_URL=redis://redis:6379/0

# ===== Celery =====
CELERY_BROKER_URL=${REDIS_URL}
CELERY_RESULT_BACKEND=${REDIS_URL}

# ===== PostgreSQL =====
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=demo_db
POSTGRES_DSN=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
